.pokemonTeamWrapper {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.emptyTeamMessage {
    text-align: center;
}

.listOfTeamPokemonWrapper{
    display: inline-grid;
    width: 100vw;
    height: 60vh;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    column-gap: 30px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.pokeTeamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 80%;
    width: 100%;
    position: relative;
    scroll-snap-align: center;
}

.backgroundId {
    font-weight: bold;
    color: black;
    font-style: italic;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

img {
    position: relative;
    top: 30px;
    height: 200px;
}

.pokemonName {
    position: relative;
    top: 40px;
    font-size: 40px;
    font-family: 'Barlow', sans-serif;
}

.removePokeButton {
    height: 28px;
    width: 28px;
    background-image: url('/assets/trash.svg');
    background-position: center;
    background-size: cover;
    align-self: flex-end;
    z-index: 10;
}
.removePokeButton:hover {
    cursor: pointer;
}