
.dashboard {
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.listOfPokemonWrapper{
    display: inline-grid;
    width: 100vw;
    height: 60vh;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    column-gap: 50px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.individualCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 60px;
    height: 80%;
    width: 100%;
    position: relative;
    scroll-snap-align: center;
}

.backgroundId {
    font-weight: bold;
    color: black;
    font-style: italic;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: relative;
    top: 30px;
    height: 200px;
}

.pokemonName {
    position: relative;
    top: 40px;
    font-size: 30px;
    font-family: 'Barlow', sans-serif;
}

.addPokeButton, .seeInformation {
    margin: 40px 15px 15px 15px;
    height: 35px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ee1515;
    border: solid black 3px;
    box-shadow: 10px 10px 18px 1px rgba(0,0,0,0.17);
    outline: none;
    color: whitesmoke;
    letter-spacing: 1px;
}

.seeInformation {
    margin: 0 15px 0 15px;
}