<div class="dashboard">
  <div #pokemonWrapper class="listOfPokemonWrapper">
    <div
      class="individualCard"
      *ngFor="let pokemon of pokemonList; let i = index">
      <div class="backgroundId">{{ pokemonList[i].id }}</div>
     <img
        src="{{ this.pokemonList[i].sprites.front_default }}"
        alt="{{ pokemonList[i].name }}"
      /><br />
      <div class="pokemonName">{{ pokemonList[i].name | titlecase }}</div>
    </div>
  </div>
  <button class="addPokeButton" (click)="addToTeam(pokemonList)">Add to My Team</button>
  <button routerLink="/information" (click)="getInformation(infoPoke)" class="seeInformation">See More Info</button>
</div>
